<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form</title>
  </head>
  <body>
    <form method="post" action="/">
      <ul>
        <li>
          <label for="name">Name</label><br />
          <input id="name" name="name" placeholder="Ravi Shukla" />
        </li>
        <li>
          <label for="email">Email</label><br />
          <input id="email" name="email" placeholder="ravi@123" />
        </li>
        <li>
          <label for="password">Password</label><br />
          <input id="password" name="password" placeholder="Ravi Shukla" />
        </li>
        <li>
          <button type="submit">Submit</button>
        </li>

        <li></li>
      </ul>
    </form>
  </body>
</html>

